/* Video Area */
.youtubeVideosWrapper {
  background: #fff;
  padding: 50px;
}

.singleVideoWrapper {
  background: #f3f2f2;
  box-shadow: 4px 0px 13px rgba(158, 158, 158, 0.12);
  margin-bottom: 30px;
  max-height: 393px;
  overflow: hidden;
}

.videoInfoWrapper {
  padding: 10px 20px;
  text-align: left;
}

.videoDesc {
  font-size: 0.6em;
  color: #676767;
}

.publishedAt {
  font-size: 14px;
  color: #666;
  font-style: italic;
}

.videoTitle {
  font-weight: 700;
  line-height: 1.2em;
}

.videoTitle a {
  color: #000;
}

.video-title-wrapper {
  padding: 50px 0;
}

.active {
  font-weight: bold;
  color: #0071e3 !important;
}

/* Medium screen */
@media (min-width: 769px) and (max-width: 992px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensure equal spacing between videos */
  }

  .singleVideoWrapper {
    width: calc(50% - 20px); /* Display two videos per row */
    margin-bottom: 20px; /* Add margin for spacing between rows */
  }

  /* Hide the third column */
  .singleVideoWrapper:nth-child(n + 7) {
    display: none;
  }
}
